### Client-side (Vite) keys
VITE_ALTCHA_CHALLENGE_URL=

### Server-side (API, scripts) keys
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_TO=
MAIL_FROM=
ALTCHA_HMAC_SIGNATURE_SECRET=
ALTCHA_HMAC_KEY_SIGNATURE_SECRET=

### Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_PREFIX=

SITE_URL=https://www.kranjci.si

# Meta Graph API
META_GRAPH_TOKEN=
META_FACEBOOK_PAGES=
META_INSTAGRAM_USERS=
META_NEWS_LIMIT=5
